header {
    background-color: deeppink;
    padding: 20px;
}

header h1 {
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 44px;
    margin: 0 30px;
    filter: drop-shadow(0 0 5px black);
    letter-spacing: 2px;
    text-align: center;
}

header h3 {
    margin: 0 30px;
    font-size: 22px;
    text-align: center;
}

main {
    background-color: #0c162b;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

footer {
    background-color: deeppink;
    padding: 20px;
    text-align: center;
    color: #0c162b;
}

footer a {
    color: 0c162b;
    text-decoration: none;
}


/* .input {
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.submit {
    font-size: 20px;
    margin-left: 20px;
    padding: 8px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: antiquewhite;
} */

.details {
    width: 400px;
    background-color: #25d3ff;
    padding: 20px;
    margin-top: 60px;
    border-radius: 20px;
    color: #0c162b;
    text-align: center;
}

.details img {
    width: 250px;
    border-radius: 20px;
    border: 3px solid #000000;
}

.details .more {
    display: flex;
    flex-direction: column;
}

.details .more span {
    font-size: 18px;
    display: block;
    margin: 7px 0;
}

@media (max-width: 450px) {
    header h1 {
        font-size: 30px;
    }
    header h3 {
        font-size: 20px;
    }
    main {
        justify-content: start;
    }
    .details {
        width: 75%;
        margin: 20px auto;
    }
    .details img {
        width: 90%;
    }
    .details .more span {
        font-size: 16px;
        display: block;
        margin: 5px 0;
    }
    footer {
        padding: 10px;
        font-size: 15px;
    }
}