.details {
    width: 450px;
    background-color: #25d3ff;
    margin-top: 40px;
    border-radius: 20px;
    color: #0c162b;
    text-align: center;
}
.details .country-name {
    color: #0c162b;
}
.details .what {
    text-decoration: none;
}
@media (max-width: 450px) {
    .details {
        width: 90%;
        margin: 10px auto;
    }
}