.country {
    width: 450px;
    padding: 8px 0;
    background-color: #25d3ff;
    margin-top: 40px;
    border-radius: 20px;
    color: #0c162b;
    text-align: center;
}
.country .country-name {
    color: #0c162b;
}
.link {
    text-decoration: none;
}
@media (max-width: 450px) {
    .link {
        width: 90%;
    }
    .country {
        width: 100%;
        margin: 10px auto;
    }
}