section#details {
    background-color: #0c162b;
    color: white;
    min-height: 65vh;
}
#details .flex {
    display: flex;
    justify-content: space-around;
}
#details h3 span {
    color: #ff67b8;
}
#details img {
    width: 250px;
    border-radius: 20px;
    border: 3px solid #000000;
}
#details h2.name{
    padding-bottom: 20px;
    margin: 0;
}
h2.loading{
    margin-top: 0;
    padding-top: 80px;
    text-align: center;
}
@media (max-width: 900px) {
    #details h2.name{
        text-align: center;
    }
    #details .flex {
        flex-direction: column;
        align-items: center;
    }
}