section#details {
    background-color: #0c162b;
    color: white;
    text-align: center;
    padding-bottom: 40px;
}
#details .more {
    display: flex;
    flex-direction: column;
}
#details img {
    width: 250px;
    border-radius: 20px;
    border: 3px solid #000000;
}
#details h2.name{
    padding-bottom: 20px;
    margin: 0;
}
#details .more span {
    font-size: 18px;
    display: block;
    margin: 7px 0;
}
h2.loading{
    text-align: center;
}
@media (max-width: 450px) {
    #details .more span {
        font-size: 16px;
        display: block;
        margin: 5px 0;
    }
}